<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QL_CHTienLoiEntities" connectionString="metadata=res://*/Models.Data.csdl|res://*/Models.Data.ssdl|res://*/Models.Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-V4M3UK0D\THEBAO;initial catalog=QL_CHTienLoi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>